/* src/css/viewVisitorLog.css */

.visitor-log-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1000vh;
  background: #004d40;
  padding: 20px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.visitor-log-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #004d40;
  padding: 8px;
  text-align: left;
}

th {
  background: #004d40;
  color: white;
}

td {
  background: #f5f5f5;
}

@media (max-width: 600px) {
  .visitor-log-container {
    padding: 10px;
  }

  th,
  td {
    padding: 6px;
  }
}
